<h1>New Tweet</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style='color: red'>
      <%= error %>
    </p>
  <% end %>
<% end %>

<%= form_with(model: @tweet, local: true) do |form| %>
  <% if @tweet.errors.any? %>
    <div>
      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class='actions'>
    <%= form.submit %>
  </div>
<% end %>
